diffusers>=0.35.2
accelerate>=1.11.0
transformers>=4.57.1
numpy==1.26.0
torch>=2.8.0
torchvision>=0.23.0
sentencepiece>=0.2.1
SwissArmyTransformer>=0.4.12
gradio>=5.49.1
imageio>=2.37.0
imageio-ffmpeg>=0.6.0
openai>=2.2.0
moviepy>=2.2.1
scikit-video>=1.1.11
pydantic>=2.12.0
